<a href="https://colab.research.google.com/github/charmi-devisetty/B5_PFDS_CLASSROOM/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import pandas as pd
import numpy as np

In [113]:
data={
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

In [114]:
print("\nCheck for missing values:")
print(df.isnull())

Check for missing values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [115]:
df_dropped=df.dropna()
print("\nDataFrame after dropping missing values:")
print(df_dropped)

DataFrame after dropping missing values:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [116]:
df_filled=df.fillna(0)
print("\nDataFrame after filling missing values:")
print(df_filled)

DataFrame after filling missing values:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

In [117]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Marks'] = df['Marks'].fillna(df['Marks'].mean())
print("\nFilled with mean:")
print(df)

Filled with mean:
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [118]:
data={
    'ID':[1,2,2,3,4,4],
    'Name':['Ravi','Neha','Neha','Kiran','Sita','Sita'],
    'Marks':[25,28,28,30,25,25]
}
df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   ID   Name  Marks
0   1   Ravi     25
1   2   Neha     28
2   2   Neha     28
3   3  Kiran     30
4   4   Sita     25
5   4   Sita     25

In [119]:
drop_duplicates=df.drop_duplicates()
print("\nDataFrame after dropping duplicates:")
print(drop_duplicates)

DataFrame after dropping duplicates:
   ID   Name  Marks
0   1   Ravi     25
1   2   Neha     28
3   3  Kiran     30
4   4   Sita     25

In [120]:
data={
    'ID':['1','2','3','4'],
    'Marks':['85','90','78','92']
    }

In [121]:
df=pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)

Original Data Types:
ID       object
Marks    object
dtype: object

In [122]:
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("\nData Types after conversion:")
print(df.dtypes)

Data Types after conversion:
ID       int64
Marks    int64
dtype: object

In [125]:
df['Marks']=df['Marks'].apply(lambda x:x+5)
print("\nAfter adding bonus marks:")
print(df)

After adding bonus marks:
   ID  Marks  Marks_Normalized
0   1     95        -82.927835
1   2    100        -82.876289
2   3     88        -83.000000
3   4    102        -82.855670

In [127]:
df['Marks_Normalized']=((df['Marks']-df['Marks'].min())/df['Marks'].max()-df['Marks'].min())
print("Normalized Marks:")
print(df)

Normalized Marks:
   ID  Marks  Marks_Normalized
0   1     95        -87.931373
1   2    100        -87.882353
2   3     88        -88.000000
3   4    102        -87.862745