<a href="https://colab.research.google.com/github/charmi-devisetty/B5_PFDS_CLASSROOM/blob/main/Merge_Join_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd

In [81]:
students=pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita']
})

In [82]:
marks=pd.DataFrame({
    'Student_ID':[101,102,103,105],
    'Marks':[85,90,78,88]
})

In [83]:
merged_df=pd.merge(students,marks,on='Student_ID')

In [84]:
print("Merged DataFrames:")
print(merged_df)

Merged DataFrames:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

**JOINS**

In [85]:
inner=pd.merge(students,marks,left_on='Student_ID',right_on='Student_ID',how='inner')
print("Inner Join:")
print(inner)

Inner Join:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [86]:
left=pd.merge(students,marks,on='Student_ID',how='left')
print("Left Join:")
print(left)

Left Join:
   Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

In [87]:
right=pd.merge(students,marks,on='Student_ID',how='right')
print("Right Join:")
print(right)

Right Join:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

In [88]:
outer=pd.merge(students,marks,on='Student_ID',how='outer')
print("Outer Join:")
print(outer)

Outer Join:
   Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

In [92]:
students=pd.DataFrame({
    'Name':['Ravi','Neha','Kiran','Sita']
})
students.index=[101,102,103,104]

In [93]:
marks=pd.DataFrame({
    'Marks':[85,90,78,88]
})
marks.index=[101,102,103,105]

In [96]:
joined_df=students.join(marks,how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [97]:
students=pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Department':['CSE','ECE','MECH','CSE']
})
marks=pd.DataFrame({
    'Student_ID':[101,102,104,105],
    'Marks':[85,90,92,88]
})
final_df=pd.merge(students,marks,on='Student_ID',how='outer')
print("Final Student records:")
print(final_df)

Final Student records:
   Student_ID   Name Department  Marks
0         101   Ravi        CSE   85.0
1         102   Neha        ECE   90.0
2         103  Kiran       MECH    NaN
3         104   Sita        CSE   92.0
4         105    NaN        NaN   88.0